$font-body:"Rosarivo", sans-serif;
$font-logo: "Brush Script MT", cursive;

$color-background: #5F6366;
$color-primary: #F3D250;
$color-text:#0D2B4A;
$color-name: white;

    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    }
   