* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rosarivo", sans-serif;
}

.yellow-header {
  background-color: #F3D250;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

.logo {
  color: white;
  font-family: "Brush Script MT", cursive;
  font-size: 70px;
  font-stretch: expanded;
  letter-spacing: 50px;
}

.me {
  height: 80px;
  border-radius: 50%;
}

.card {
  border: #F3D250 2px solid;
  width: 400px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: #F3D250;
  box-shadow: 3px 3px 5px black;
}